* {
    box-sizing: border-box;
}
#gallery img {
    width: 25%;
    height: 300px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #EBE7E7;
}

.header {
    padding: 32px;
    background: #E0DDDD;
    text-align: center;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

@media (max-width: 800px) {
    #gallery img {
        width: 50%;
    }
}

@media (max-width: 600px) {
    #gallery img {
        width: 100%;
    }
}